.list-item.boxer {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.work-ex-img-container {
    padding: 2px;/* border: 2px solid; border-color: #212529;border-radius: 43px; */
}
.work-ex-img {
    width: 57px; height: 57px; border-radius: 40px;border: 2px solid #666;
}
.progress.green .progress-bar {
    background-color: green;
}
small.marg-top {
    display: block; margin-top: 10px;
}